.backGround {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  justify-content: center;
  align-items: center;
}

.showPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 8px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.overCard {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 16px;
}

.PokecardWithNavigation {
  display: flex;
  flex-direction: row;
}

.navArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: white;
  cursor: pointer;
  user-select: none;
  z-index: 1000;
}

.closeButtonX {
  position: absolute;
  top: 15px;
  right: 50px;
  color: white;
  font-size: 32px;
  font-weight: 800;
  cursor: pointer;
}

.pokemonName {
  padding-top: 16px;
  font-size: 26px;
  font-weight: 800;
  text-transform: capitalize;
}

.pokemonId {
  padding-bottom: 8px;
}

.BGwhite {
  background-color: white;
  width: 100%;
  border-radius: 24px;
  padding: 16px 8px;
}

.imageFocusPokemon {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding: 5px 0;
}

.imageFocusPokemon img {
  height: 250px;
  width: 250px;
}

.categoryInformation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-bottom: 16px;
}

.categoryInformation li a {
  border-radius: 5px;
  background-color: rgb(245, 236, 236);
  padding: 8px 16px;
  cursor: pointer;
}

.categoryTitles {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 4px;
}

.showCategory {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 300px;
}

.showCategory::-webkit-scrollbar {
  width: 5px;
}

.showCategory::-webkit-scrollbar-track {
  background: #e7e4e4;
  border-radius: 10%;
}

.showCategory::-webkit-scrollbar-thumb {
  background: #afacac;
  border-radius: 10%;
}

table th {
  display: flex;
  width: 200px;
}

table td {
  text-transform: capitalize;
}

.evolutionPokemonImage {
  height: 50px;
}

.overEvolutionPokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overEvolutionPokemonPreview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
  background-color: rgb(245, 236, 236);
  border-radius: 8px;
}

.evolutionAngle {
  height: 30px;
}

.textCapitalize {
  text-transform: capitalize;
}

@media only screen and (max-width: 900px) {
  .searchbar {
    width: auto;
    position: relative;
  }

  .imageFocusPokemon img {
    height: 150px;
    width: 150px;
  }

  .overCard {
    top: 50px;
  }


}
